/*
   
   I'm using the three-column implementation described at
   http://www.alistapart.com/articles/holygrail/

   Our left & right columns (LC and RC) are each 150px wide.
*/

body {
    background: rgb(198, 227, 254);
    margin: 1px 15px 1px 15px;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: normal;

    min-width: 450px; /* 2x LC width + RC width */
}

   
#content-container {
    padding-left: 150px;  /* LC width */
    padding-right: 150px; /* RC width */
}

#content-container .column {
    position: relative;
    float: left;
}

#center {
    min-height: 200px;
    height: 80%;
    width: 100%;
}

#sidebar-left {
    width: 145px;        /* LC full width - padding */
    padding-right: 5px;
    right: 150px;        /* LC full width */
    margin-left: -100%;
}

#sidebar-right {
    width: 140px;
    padding-left: 10px;
    margin-right: -150px;
}

#footer {
    clear: both;
    background: rgb(200,200,200);
    margin-top: 20px;
}

/* IE 6 fix */
* html #sidebar-left {
    left: 150px;
}


div.rfloat {
    float: right;
}

div.lfloat {
    float: left;
}

div.spacer {
    clear: both;
}

.public_user_photo {
    float: left;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

#header {
    font-size: 12pt;
    margin-bottom: 10px;
}

a.undecorated {
    text-decoration: none;
}

a.undecorated:link    {color:#000000; text-decoration: none;}      /* unvisited link */
a.undecorated:visited {color:#000000; text-decoration: none;}  /* visited link */
a.undecorated:hover   {color:#000000; text-decoration: none;}  /* mouse over link */
a.undecorated:active  {color:#000000; text-decoration: none;}  /* selected link */


#info_pane {
    height: 35px;
    padding-left: 150px;
}

#error {
    text-align: center;
}



form {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



h1 {
    font-size: 16pt;
}

.inputfield {
    border: 1px solid rgb(255,255,255);
    background: rgb(220,220,220);
    font-size: 12pt;
    height: 22pt;
    width: 500px;
}

.progress-text {
}

.progress-image {
}

.stats-label {
    font-size: 9pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

.stats-text {
    font-size: 8pt;
    margin-top: 0px;
    margin-bottom: 0px;
}


#public_users {
    font-size: 9pt;
}


.note {
    font-size: 9pt;
}

#error {
    background: rgb(250,160,160);
    height: 0cm;
    font-weight: bold;
}



div#desc { padding-top:20px; border-top:2px solid #333; }
.cartographer-balloon { font-family:Verdana,Arial; font-size:11px; }

