<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">
<style type="text/css">
#footer { margin-top: 3px; background-color: #ff9; padding: 3px; border: 1px solid #000;}
#byline { text-align: right; padding: 3px 10px; font-size: 8pt;}
</style>

<title>4mapper - Mapping foursquare</title>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAy-QtcaLYn_SCweZpooQCBxRalkY-nKN85LMYBy2cKIu_ytkA0RTaMuuhU75PoP1yumnRf2gO45qz4w"></script>
<script type="text/javascript" language="javascript" src="static/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="static/cartographer.min.0.2jjw.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dojo/dojo.xd.js" djConfig="isDebug:false"> </script>
<script type="text/javascript">

var cartographer; 

{% if authorized %}
var g_authorized = true;
{% else %}
var g_authorized = false;
{% endif %}

var g_map_uid = {{ map_uid }};
var g_do_map = {{ do_map_js }};
var g_map = null;


dojo.addOnLoad(load);

function load() {
    if (GBrowserIsCompatible()) {
        g_map = new GMap2(document.getElementById("map"));
        g_map.setCenter(new GLatLng(18, 0), 2);
        g_map.addControl(new GLargeMapControl());
        g_map.addMapType(G_PHYSICAL_MAP);

        if (g_do_map) {
            console.log("DOING MAP");
            do_map(g_map_uid);
        }
    }
    do_public_histories();
}

function map_checkins(checkins) {
    checkins = checkins.checkins;
    console.log('Have ' + checkins.length + ' checkins.');
    data = [];
    n = 0;
    for (i = 0; i < checkins.length; i++) {
        if (typeof(checkins[i].venue) != "undefined") {
            venue = checkins[i].venue;
            if (typeof(venue.geolat) != "undefined") {
                data[n] = {lat: venue.geolat, lng: venue.geolong, val: 1, label: venue.name};
                n += 1;
            }
        }
    }
    centroid(data);
    console.log(data);

  if( GBrowserIsCompatible() ) {
      cartographer = Cartographer(g_map, {colorize:"#000",
                  colorizeAlpha:.5});
      cartographer.cluster(data, {
              gridSize: 35,
                  gridColor: "#c00",
                  enableGrid: false,
                  color:"#fff",
                  colorHover:"#fff",
                  stroke:"#fff",
                  popup:"reduce",
                  } );
      g_map.setCenter(centroid(data), Math.max(g_map.getZoom(),2));
  }
  set_progress(false, '');
}

function do_public_histories() {
    dojo.xhrGet({
            url: '/s/public',
                handleAs: 'json',
                load: function(data, ioargs) {
                show_public_histories(data);
            },
                error: function(error, args) {
                console.warn("Error!", error, args);
                display_error(error);
            },
                timeout: 14000,
                });
}

function history_user_html(user_info) {
    return ' <a href="/?uid=' + user_info.uid + '">' +
        '<img border="0" src="' + user_info.picture + '" ' +
        'alt="' + user_info.name + '" ' + 
        'title="' + user_info.name + '"></a>';
}

function show_public_histories(data) {
    if (data.length > 0) {
        html = "Map someone else's history:<br>";
        for (i = 0; i < data.length; i++) {
            html = html + history_user_html(data[i]);
        }
        container_node = dojo.byId('public_users');
            dojo.fadeOut({
                    node: container_node,
                        onEnd: function() {
                        container_node.innerHTML = html;
                        dojo.fadeIn({node: container_node}).play();}
                }).play();
    }
}

function do_map(uid) {
    console.log('do_map1');
    set_progress(true, 'Getting history...');
    console.log('do_map2');
    dojo.xhrGet({
            url: '/4/history?uid=' + uid,
            handleAs: 'json',
                load: function(data, ioargs) {
                map_checkins(data);
            },
                error: function(error, args) {
                console.warn("Error!", error, args);
                display_error(error);
            },
                timeout: 14000,
                });
    console.log('do_map3');
}


function centroid(data) {
  lat_sum = 0.0;
  lng_sum = 0.0;
  for (i = 0; i < data.length; i++) {
    lat_sum += data[i].lat;
    lng_sum += data[i].lng;
  }
  console.log('centroid:', lat_sum / data.length, lng_sum / data.length);
  return GLatLng(lat_sum / data.length, lng_sum / data.length);
}

// Display an error message to the user.

function display_error(html) {
    console.warn("displaying error", html);
    set_progress(false, '');
    var containerNode = dojo.byId("error");
    // Slide in the error message area.
    dojo.animateProperty( {
            node: "error",
                properties: {
                    height:        {start: "0", end: "50", unit: "px" },
                    marginTop:     {start: "0", end: "0.2", unit: "cm"},
                    marginBottom:  {start: "0", end: "0.2", unit: "cm"},
                    paddingTop:    {start: "0", end: "0.2", unit: "cm"},
                    paddingBottom: {start: "0", end: "0.2", unit: "cm"}},
                onEnd: function() {
                    containerNode.innerHTML = html;}
        }).play();
}

// Turn the progress animation on or off.

var progress_on = false;

function set_progress(onoff, msg) {
    if (progress_on == onoff) {
        // If it's already in the desired state, return.
        return;
    }

    progress_on = onoff;
    var containerNode = dojo.byId("progress");
    if (onoff) {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = '<span class="progress-text">' + msg + '</span>';
                        dojo.fadeIn({node: containerNode}).play();}
            }).play();
    } else {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = "";
                    dojo.fadeIn({node: containerNode}).play();
                }
            }).play();
    }
}

</script>
</head>
<body onunload="GUnload()">
<div>
<table width="100%" border=0>
<tr>
<td colspan="2">
<big><b>4mapper</b> - Mapping <a href="http://playfoursquare.com/">foursquare</a></big>
<span class="note"><i>(Zoom in for more detail!)</i></span>

<td align="right"">
{% if not authorized %}
<form action="/authorize" method="POST">
Authorize to map your checkins:
<input class="button" type="submit" value="Authorize">
</form>
{% else %}
<form action="/toggle_public" method="POST">
<small>Your history is</small>
{% if history_is_public %}
<b>public</b>
<input type="submit" value="make it private"
{% else %}
<b>private</b>
<input type="submit" value="make it public"
{% endif %}
<input type="hidden" name="r" value="/">
</form>
{% endif %}


<tr height="100">
<td>
<div class="note" id="public_users"></div>
<td>
<!-- See set_progress. -->
<span id="progress"></span>

{% if do_map %}
<span class="note">Viewing {{ map_user_name}}'s map<br><a href="http://foursquare.com/user/-{{map_uid}}"><img src="{{ map_user_photo }}"></a></span>
{% endif %}

<td align="right" valign="center">

{% if authorized %}
<span class="note" id="user">Hi, {{ user_name }}!<br><a href="/?uid={{ uid }}"><img class="progress-image" src="{{ user_photo }}"></a></span>
{% endif %}

</table>

<!-- See display_error -->
<div id="error">
</div>


</div>

<div id="map" style="height:80%; max-height: 600px; border:1px solid #000;"></div>

<div id="footer">
<div id="byline">By <a href="http://twitter.com/lemonodor">John Wiseman</a>.  Uses <a href="http://code.google.com/appengine/">GAE</a>, <a href="http://cartographer.visualmotive.com/">Cartographer.js</a>, <a href="http://groups.google.com/group/foursquare-api">foursquare API</a>.
</div>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-137136-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
