<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">
<style type="text/css">
#header { margin:0 auto 10px auto; width:90%; background:#ff9; border:1px solid #000; padding: 3px;}
#header #nav { float:right; padding:3px 10px; }
#header h1 { padding:0px 10px 0px 10px; margin:0; }
#header p { padding:0px 10px 3px 10px; margin:0; }
#footer { margin:10px auto 0px auto; width:90%; background-color: #ff9; border:1px solid #000; padding: 3px;}
#byline { text-align: right; padding 3px 10px; font-size: 8pt;}
</style>

<title>Where have I been? &ndash; my last 250 foursquare checkins</title>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAy-QtcaLYn_SCweZpooQCBxRalkY-nKN85LMYBy2cKIu_ytkA0RTaMuuhU75PoP1yumnRf2gO45qz4w"></script>
<script type="text/javascript" language="javascript" src="static/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="static/cartographer.min.0.2jjw.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dojo/dojo.xd.js" djConfig="isDebug:false"> </script>
<script type="text/javascript">

var cartographer; 

{% if authorized %}
var g_authorized = true;
{% else %}
var g_authorized = false;
{% endif %}

dojo.addOnLoad(load);


function load() {
  if( GBrowserIsCompatible() ) {
    var map = new GMap2(document.getElementById("map"));
    map.setCenter(new GLatLng(18, 0), 2);
    map.addControl(new GLargeMapControl());
    map.addMapType(G_PHYSICAL_MAP);
    if (g_authorized) {
        do_map();
    }
  }
}

function map_checkins(checkins) {
    console.log('checkins', checkins);
    checkins = checkins[0].checkin
    data = [];
    n = 0;
    for (i = 0; i < checkins.length; i++) {
        if (typeof(checkins[i].venue) != "undefined" && checkins[i].venue.length > 0) {
            venue = checkins[i].venue[0];
            if (typeof(venue.geolat) != "undefined") {
                data[n] = {lat: venue.geolat, lng: venue.geolong, val: 1, label: venue.name};
                n += 1;
            }
        }
    }

  if( GBrowserIsCompatible() ) {
    var map = new GMap2(document.getElementById("map"));
    map.setCenter(new GLatLng(18, 0), 2);
    map.addControl(new GLargeMapControl());
    map.addMapType(G_PHYSICAL_MAP);

    cartographer = Cartographer(map, {colorize:"#000",
                                      colorizeAlpha:.5});
    cartographer.cluster(data, {
            gridSize: 35,
            gridColor: "#c00",
            enableGrid: false,
            color:"#fff",
            colorHover:"#fff",
            stroke:"#fff",
            popup:"reduce",
            popupLabel:"<b>Number of checkins<\/b><br>"
                } );
    map.setCenter(centroid(data), Math.max(map.getZoom(),2));
  }
  set_progress(false, '');
}

function do_map() {
    set_progress(true, 'Getting history...');
    dojo.xhrGet({
            url: '/4/history',
            handleAs: 'json',
            load: function(data, ioargs) {
                map_checkins(data);
            },
            error: function(error, args) {
                console.warn("Error!", error, args);
                display_error(error);
            },
            timeout: 14000,
    });
}


function centroid(data) {
  lat_sum = 0.0;
  lng_sum = 0.0;
  for (i = 0; i < data.length; i++) {
    lat_sum += data[i].lat;
    lng_sum += data[i].lng;
  }
  console.log('centroid:', lat_sum / data.length, lng_sum / data.length);
  return GLatLng(lat_sum / data.length, lng_sum / data.length);
}

// Display an error message to the user.

function display_error(html) {
    console.warn("displaying error", html);
    set_progress(false, '');
    var containerNode = dojo.byId("error");
    // Slide in the error message area.
    dojo.animateProperty( {
            node: "error",
                properties: {
                    height:        {start: "0", end: "50", unit: "px" },
                    marginTop:     {start: "0", end: "0.2", unit: "cm"},
                    marginBottom:  {start: "0", end: "0.2", unit: "cm"},
                    paddingTop:    {start: "0", end: "0.2", unit: "cm"},
                    paddingBottom: {start: "0", end: "0.2", unit: "cm"}},
                onEnd: function() {
                    containerNode.innerHTML = html;}
        }).play();
}

// Turn the progress animation on or off.

var progress_on = false;

function set_progress(onoff, msg) {
    if (progress_on == onoff) {
        // If it's already in the desired state, return.
        return;
    }

    progress_on = onoff;
    var containerNode = dojo.byId("progress");
    if (onoff) {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                        containerNode.innerHTML = "<img src=\"/static/progress-anim.gif\"> " + msg;
                        dojo.fadeIn({node: containerNode}).play();}
            }).play();
    } else {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = "";
                    dojo.fadeIn({node: containerNode}).play();
                }
            }).play();
    }
}


</script>
</head>
<body onunload="GUnload()">
<div id="header">
<table width="100%">
<tr>
<td valign="top">
<p><b>4mapper</b> - Map your <a href="http://playfoursquare.com/">foursquare</a> checkins.</p>
<p class="note"><i>(Zoom in for more detail!)</i></small></p>

{% if not authorized %}
<td align="right" valign="top">
<form action="/authorize" method="POST">
<p>Click authorize to get your foursquare checkin history:
<input class="button" type="submit" value="Authorize">
</p>
</form>
</td>
{% endif %}

</table>

<!-- See set_progress. -->
<span id="progress"></span>

<!-- See display_error -->
<div id="error">
</div>


</div>
<div id="map" style="margin:0 auto; width:90%;height:80%;max-height:600px; border:1px solid #000;"></div>
<div id="footer">
<div id="byline">By <a href="http://twitter.com/lemonodor">John Wiseman</a>.  Uses <a href="http://code.google.com/appengine/">GAE</a>, <a href="http://cartographer.visualmotive.com/">Cartographer.js</a>, <a href="http://groups.google.com/group/foursquare-api">foursquare API</a>.
</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-137136-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
