{% comment %}
Variables used by this template:

gmaps_api_key
public_user_html
session_user
map_user

{% endcomment %}
<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">

<title>4mapper - Mapping foursquare</title>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAy-QtcaLYn_SCweZpooQCBxRalkY-nKN85LMYBy2cKIu_ytkA0RTaMuuhU75PoP1yumnRf2gO45qz4w"></script>
<script type="text/javascript" language="javascript" src="static/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="static/cartographer.min.r8.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.4.0/dojo/dojo.xd.js" djConfig="isDebug:true, parseOnLoad: true" > </script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="static/jquery.sparkline.min.js"></script>


<script type="text/javascript">


var cartographer; 

var g_map = null;

dojo.addOnLoad(load);

function load() {
    if (GBrowserIsCompatible()) {
        g_map = new GMap2(document.getElementById("map_canvas"));
        g_map.setCenter(new GLatLng(18, 0), 2);
        g_map.addControl(new GLargeMapControl());
        g_map.addMapType(G_PHYSICAL_MAP);

{% if map_user %}
        console.log("Drawing map.");
        do_map({{ map_user.uid }});

{% endif %}
    }
}

function map_checkins(checkins) {
    console.log('Mapping ' + checkins.length + ' checkins.');
    data = [];
    n = 0;
    for (i = 0; i < checkins.length; i++) {
        if (typeof(checkins[i].venue) != "undefined") {
            venue = checkins[i].venue;
            if (typeof(venue.geolat) != "undefined") {
                data[n] = {lat: venue.geolat, lng: venue.geolong, val: 1, label: venue.name, created_epoch: checkins[i].created_epoch};
                n += 1;
            }
        }
    }
    if (data.length > 0) {
        centroid(data);

        if( GBrowserIsCompatible() ) {
            cartographer = Cartographer(g_map, {colorize:"#000",
                                                colorizeAlpha:.5});
            cartographer.cluster(data, {
                        gridSize: 35,
                        gridColor: "#c00",
                        enableGrid: false,
                        color:"#fff",
                        colorHover:"#fff",
                        stroke:"#fff",
                        popup:"reduce",
                        balloon: function (obj) {
                        var s = '<div><font size="-2">';
                        var last_label = '';
                        var counts = {};
                        for (var i = 0; i < obj.items.length; i++) {
                            var label = obj.items[i].label;
                            if (label in counts) {
                                counts[label] += 1;
                            } else {
                                counts[label] = 1;
                            }
                        }
                        for (label in counts) {
                            if (counts[label] > 1) {
                                s += label + ' (x' + counts[label] + ')<br/>';
                            } else {
                                s += label + '<br/>';
                            }
                        }
                        s += "<\/font><\/div>";
                        return s;
                    }
                } );
            g_map.setCenter(centroid(data), Math.max(g_map.getZoom(),2));
        }
    }

    make_charts(data)
    set_progress(false, '');
}

function make_charts(data)
{
    make_30day_chart(data);
}

function make_30day_chart(data)
{
    bins = []

    today = new Date();
    today.setUTCHours(0);
    today.setUTCMinutes(0);
    today.setUTCSeconds(0);
    today.setUTCMilliseconds(0);
    for (i = 0; i < 30; i++) {
        days_back = 29 - i;
        bin_date = new Date(today);
        bin_date.setDate(bin_date.getDate() - days_back);
        bins[i] = {start_time: bin_date, contents: []};
    }

    for (i = 0; i < data.length; i++) {
        data[i].created_date = new Date(data[i].created_epoch*1000);
        bin_update(bins, data[i]);
    }
    values = bin_values(bins);
    $('#recent-activity-30day-sparkline').sparkline(values, {width: 140});

    v = [];
    for (i = 0; i < 7; i++) {
        v[i] = values[(values.length - 7) + i];
    }
    $('#recent-activity-7day-sparkline').sparkline(v, {width: 140});

        
}

function bin_update(bins, object)
{
    bin_index = find_bin(bins, object);
    if (bin_index >= 0) {
        bins[bin_index].contents.push(object);
    };
}

function find_bin(bins, object)
{
    if (bins.length > 0) {
        if (object.created_date >= bins[0].start_time) {
            bin_index = 0;
            while (bin_index < bins.length - 1 && 
                   object.created_date >= bins[bin_index + 1].start_time) {
                bin_index += 1;
            }
            return bin_index;
        }
    }
    return -1;
}

function bin_values(bins)
{
    values = [];
    for (i = 0; i < bins.length; i++) {
        values[i] = bins[i].contents.length;
    }
    return values;
}

function sparkline_url(bins)
{
    values = bin_values(bins);
    min = values[0];
    max = values[0];
    values_s = '';
    for (i = 0; i < values.length; i++) {
        if (values[i] < min) {
            min = values[i];
        } else if (values[i] > max) {
            max = values[i];
        }
        values_s += values[i] + ',';
    }
    str = 'http://sparklines.bitworking.info/spark.cgi' + '?d=' + values_s + '&height=40' + '&limits=' + min + ',' + max + '&type=smooth&step=2';
    console.log(str);
    return str;
}






function do_map(uid) {
    set_progress(true, 'Getting history...');
    dojo.xhrGet({
            url: '/4/history?uid=' + uid,
            handleAs: 'json',
                load: function(data, ioargs) {
                map_checkins(data);
            },
                error: function(error, args) {
                console.warn("Error!", error, args);
                display_error(error);
            },
                timeout: 14000,
                });
}


function centroid(data) {
  lat_sum = 0.0;
  lng_sum = 0.0;
  for (i = 0; i < data.length; i++) {
    lat_sum += data[i].lat;
    lng_sum += data[i].lng;
  }

  return GLatLng(lat_sum / data.length, lng_sum / data.length);
}

// Display an error message to the user.

function display_error(html) {
    console.warn("displaying error", html);
    set_progress(false, '');
    var containerNode = dojo.byId("error");
    // Slide in the error message area.
    dojo.animateProperty( {
            node: "error",
                properties: {
                    height:        {start: "0", end: "50", unit: "px" },
                    marginTop:     {start: "0", end: "0.2", unit: "cm"},
                    marginBottom:  {start: "0", end: "0.2", unit: "cm"},
                    paddingTop:    {start: "0", end: "0.2", unit: "cm"},
                    paddingBottom: {start: "0", end: "0.2", unit: "cm"}},
                onEnd: function() {
                    containerNode.innerHTML = html;}
        }).play();
}


// Turn the progress animation on or off.

var progress_on = false;

function set_progress(onoff, msg) {
    if (progress_on == onoff) {
        // If it's already in the desired state, return.
        return;
    }

    progress_on = onoff;
    var containerNode = dojo.byId("info_pane");
    if (onoff) {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = '<img src="/static/progress-anim.gif"><span class="progress-text">' + msg + '<\/span>';
                        dojo.fadeIn({node: containerNode}).play();}
            }).play();
    } else {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = "";
                    dojo.fadeIn({node: containerNode}).play();
                }
            }).play();
    }
}

preload_pa = new Image(100,25); 
preload_pa.src = "/static/progress-anim.gif";


</script>

</head>
<body onunload="GUnload()">

<!-- HEADER -->
<div id="header">
<div class="lfloat">
<b>4mapper</b> - Showing you <a href="http://playfoursquare.com/">where you've been</a>.
</div>

<div class="rfloat">
{% if not session_user %}
<form action="/authorize" method="POST">
Authorize to map your checkins:
<input class="button" type="submit" value="Authorize">
</form>
{% else %}
<form action="/toggle_public" method="POST">
<small>Your history is</small>
{% if session_user.public %}
<b>public</b>
<input type="submit" value="make it private"
{% else %}
<b>private</b>
<input type="submit" value="make it public"
{% endif %}
<input type="hidden" name="r" value="/">
</form>
{% endif %}
</div>
<div class="spacer"></div>
</div>

<div id="info_pane"></div>

<!-- CONTENT -->
<div id="content">
<div id="map_canvas" class="column"></div>
<div id="sidebar" class="column">
{% if session_user %}
<img src="{{session_user.picture}}"><br>
OH HAI, {{session_user.name}}!
<p>

<p class="sparkline-label">30 day activity:</p>
<div id="recent-activity-30day-sparkline"</div>

<p class="sparkline-label">7 day activity:</p>
<div id="recent-activity-7day-sparkline"</div>

<!--
<div dojoType="dojox.data.HtmlStore" dataId="tableExample" jsId="tableStore"></div>
		<table id="tableExample" style="display: none;">

			<thead>
				<tr><th>value</th></tr>
			</thead>
			<tbody>
				<tr><td>6.3</td></tr>
				<tr><td>1.8</td></tr>
				<tr><td>3  </td></tr>

				<tr><td>0.5</td></tr>
				<tr><td>4.4</td></tr>
				<tr><td>2.7</td></tr>
				<tr><td>2  </td></tr>
			</tbody>
		</table>

<div dojoType="dojox.charting.widget.Chart2D" 
  theme="dojox.charting.themes.Tufte" 
  margins="{ l: 0, r: 0, t: 0, b: 0 }"
  style="width: 100px; height: 15px;">
<div class="plot" name="default" type="Lines"></div>
<div class="series" name="Series A" store="tableStore" valueFn="Number(x)"></div>
</div>
<div dojoType="dojox.charting.widget.Chart2D" 
  theme="dojox.charting.themes.Tufte" 
  margins="{ l: 0, r: 0, t: 0, b: 0 }"
  style="width: 100px; height: 15px;">
<div class="plot" name="default" type="Lines"></div>
<div class="series" name="Series A" store="tableStore" valueFn="Number(x)"></div>
</div>
<div dojoType="dojox.charting.widget.Chart2D" 
  theme="dojox.charting.themes.Tufte" 
  margins="{ l: 0, r: 0, t: 0, b: 0 }"
  style="width: 100px; height: 15px;">
<div class="plot" name="default" type="Lines"></div>
<div class="series" name="Series A" store="tableStore" valueFn="Number(x)"></div>
</div>
-->

{% else %}
<p>
Use the Authorize button to put your checkins on the map and generate some personal statistics.
</p>

<p>
Once you've authorized, you can choose to let other people see your map and stats.
</p>

<p>
Or maybe you just want to look at a map of <a href="/public">someone else's</a> checkins.
</p>

{% endif %}
</div>
</div>

<div id="footer">
By John Wiseman.  Uses <a href="http://code.google.com/appengine/">Google App Engine</a>, <a href="http://cartographer.visualmotive.com/">Cartographer.js</a> and the <a href="http://groups.google.com/group/foursquare-api">Foursquare API</a>.  Having a problem?  <a href="mailto:jjwiseman@gmail.com">Email me</a>.
</div>

</body>
</html>
