{% comment %}
Variables used by this template:

gmaps_api_key
public_user_html
session_user
map_user

{% endcomment %}
<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">
<style type="text/css">
#footer { margin-top: 3px; background-color: #ff9; padding: 3px; border: 1px solid #000;}
#byline { text-align: right; padding: 3px 10px; font-size: 8pt;}
</style>

<title>4mapper - Mapping foursquare</title>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAy-QtcaLYn_SCweZpooQCBxRalkY-nKN85LMYBy2cKIu_ytkA0RTaMuuhU75PoP1yumnRf2gO45qz4w"></script>
<script type="text/javascript" language="javascript" src="static/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="static/cartographer.min.r8.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dojo/dojo.xd.js" djConfig="isDebug:false"> </script>
<script type="text/javascript">

var cartographer; 

var g_map = null;

dojo.addOnLoad(load);

function load() {
    if (GBrowserIsCompatible()) {
        g_map = new GMap2(document.getElementById("map"));
        g_map.setCenter(new GLatLng(18, 0), 2);
        g_map.addControl(new GLargeMapControl());
        g_map.addMapType(G_PHYSICAL_MAP);

{% if map_user %}
        console.log("Drawing map.");
        do_map({{ map_user.uid }});
{% endif %}
    }
}

function map_checkins(checkins) {
    checkins = checkins.checkins;
    console.log('Mapping ' + checkins.length + ' checkins.');
    data = [];
    n = 0;
    for (i = 0; i < checkins.length; i++) {
        if (typeof(checkins[i].venue) != "undefined") {
            venue = checkins[i].venue;
            if (typeof(venue.geolat) != "undefined") {
                data[n] = {lat: venue.geolat, lng: venue.geolong, val: 1, label: venue.name};
                n += 1;
            }
        }
    }
    if (data.length > 0) {
        centroid(data);

        if( GBrowserIsCompatible() ) {
            cartographer = Cartographer(g_map, {colorize:"#000",
                                                colorizeAlpha:.5});
            cartographer.cluster(data, {
                        gridSize: 35,
                        gridColor: "#c00",
                        enableGrid: false,
                        color:"#fff",
                        colorHover:"#fff",
                        stroke:"#fff",
                        popup:"reduce",
                        balloon: function (obj) {
                        var s = '<div><font size="-2">';
                        var last_label = '';
                        var counts = {};
                        for (var i = 0; i < obj.items.length; i++) {
                            var label = obj.items[i].label;
                            if (label in counts) {
                                counts[label] += 1;
                            } else {
                                counts[label] = 1;
                            }
                        }
                        for (label in counts) {
                            if (counts[label] > 1) {
                                s += label + ' (x' + counts[label] + ')<br/>';
                            } else {
                                s += label + '<br/>';
                            }
                        }
                        s += "</font></div>";
                        return s;
                    }
                } );
            g_map.setCenter(centroid(data), Math.max(g_map.getZoom(),2));
        }
    }
    set_progress(false, '');
}

function do_map(uid) {
    set_progress(true, 'Getting history...');
    dojo.xhrGet({
            url: '/4/history?uid=' + uid,
            handleAs: 'json',
                load: function(data, ioargs) {
                map_checkins(data);
            },
                error: function(error, args) {
                console.warn("Error!", error, args);
                display_error(error);
            },
                timeout: 14000,
                });
}


function centroid(data) {
  lat_sum = 0.0;
  lng_sum = 0.0;
  for (i = 0; i < data.length; i++) {
    lat_sum += data[i].lat;
    lng_sum += data[i].lng;
  }

  return GLatLng(lat_sum / data.length, lng_sum / data.length);
}

// Display an error message to the user.

function display_error(html) {
    console.warn("displaying error", html);
    set_progress(false, '');
    var containerNode = dojo.byId("error");
    // Slide in the error message area.
    dojo.animateProperty( {
            node: "error",
                properties: {
                    height:        {start: "0", end: "50", unit: "px" },
                    marginTop:     {start: "0", end: "0.2", unit: "cm"},
                    marginBottom:  {start: "0", end: "0.2", unit: "cm"},
                    paddingTop:    {start: "0", end: "0.2", unit: "cm"},
                    paddingBottom: {start: "0", end: "0.2", unit: "cm"}},
                onEnd: function() {
                    containerNode.innerHTML = html;}
        }).play();
}

// Turn the progress animation on or off.

var progress_on = false;

function set_progress(onoff, msg) {
    if (progress_on == onoff) {
        // If it's already in the desired state, return.
        return;
    }

    progress_on = onoff;
    var containerNode = dojo.byId("progress");
    if (onoff) {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = '<span class="progress-text">' + msg + '</span>';
                        dojo.fadeIn({node: containerNode}).play();}
            }).play();
    } else {
        dojo.fadeOut({
                    node: containerNode,
                    onEnd: function() {
                    containerNode.innerHTML = "";
                    dojo.fadeIn({node: containerNode}).play();
                }
            }).play();
    }
}

</script>
</head>
<body onunload="GUnload()">
<div>
<table width="100%" border=0>
<tr>
<td colspan="2">
<big><b>4mapper</b> - Mapping <a href="http://playfoursquare.com/">foursquare</a></big>
<span class="note"><i>(Zoom in for more detail!)</i></span>

<td align="right"">
{% if not session_user %}
<form action="/authorize" method="POST">
Authorize to map your checkins:
<input class="button" type="submit" value="Authorize">
</form>
{% else %}
<form action="/toggle_public" method="POST">
<small>Your history is</small>
{% if session_user.public %}
<b>public</b>
<input type="submit" value="make it private"
{% else %}
<b>private</b>
<input type="submit" value="make it public"
{% endif %}
<input type="hidden" name="r" value="/">
</form>
{% endif %}


<tr height="100">
<td width="600">
<span class="note">View someone else's map:<br>
{% for u in public_users %}
  <a href="/?uid={{ u.uid }}"><img width="75" height="75" alt="Map {{ u.name }}'s checkins" src="{{ u.picture }}"></a>
{% endfor %}
</span>
<div class="note" id="public_users"></div>
<td>
<!-- See set_progress. -->
<span id="progress"></span>

{% if map_user %}
<span class="note">Viewing {{ map_user.name}}'s map<br><a href="http://foursquare.com/user/-{{map_user.uid}}"><img width="75" height="75" src="{{ map_user.picture }}"></a></span>
{% endif %}

<td align="right" valign="center">

{% if session_user %}
<span class="note" id="user">Hi, {{ session_user.name }}!<br><a href="/?uid={{ session_user.uid }}"><img class="progress-image" src="{{ session_user.picture }}"></a></span>
{% endif %}

</table>

<!-- See display_error -->
<div id="error">
</div>


</div>

<div id="map" style="height:80%; max-height: 600px; border:1px solid #000;"></div>

<div id="footer">
<div id="byline">By <a href="http://twitter.com/lemonodor">John Wiseman</a>.  Uses <a href="http://code.google.com/appengine/">GAE</a>, <a href="http://cartographer.visualmotive.com/">Cartographer.js</a>, <a href="http://groups.google.com/group/foursquare-api">foursquare API</a>.
</div>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-137136-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
