{% comment %}
Variables used by this template:

public_users

{% endcomment %}
<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">

<title>4mapper - Public histories</title>
</head>

<body onunload="GUnload()">

<!-- HEADER -->
<div id="header">
<a class="undecorated" href="/"><b>4mapper</b></a> - Mapping <a href="http://foursquare.com/">Foursquare</a>.
</div>

<p>
Select a user below to see their checkins:
</p>

{% for user in public_users %}
<div class="public_user_photo">
<a href="/?uid={{user.uid}}"><img src="{{user.picture}}" alt="{{user.name}}" title="{{user.name}}" width="75" height="75"><br></a>
{{user.name}}
</a>
</div>
{% endfor %}
